.contact {
	position: relative;
	border-left: ridge 10px lightgrey;
	border-bottom: ridge 10px lightgrey;  
	padding: 1.2em;
	top: 4em;
	background: url(../images/coffee.png) no-repeat;
	background-position: right bottom;
}

<<<<<<< HEAD
.contact .submit, .contact-form{
	width: 51.5em;
}

@media (max-width: 600px)
{
	.contact .submit, .contact-form{
	width: 13.5em;
}
}
=======
.contact .submit {
	width: 51.5em;
}
>>>>>>> 41a96157c07db02f8956365114da9d7c99c242d0
