.contact {
	position: relative;
	border-left: ridge 10px lightgrey;
	border-bottom: ridge 10px lightgrey;  
	padding: 1.2em;
	top: 5em;
	background: url(../images/coffee.png) no-repeat;
	background-position: right bottom;
}

.contact .submit, .contact-form{
	width: 51.5em;
}

@media (max-width: 600px)
{
	.contact .submit, .contact-form{
	width: 13.5em;
	}
}

@media (max-width: 900px) and (min-width: 601px)
{
	.contact .submit, .contact-form{
	width: 23.5em;
	}
}