footer {
	position: relative;
	background: #363636;
	color: white;
	height: 5.5em;
	justify-content: center;
    align-items: center;
    text-align: center;
}

footer a {
	color: white;
}

footer a:hover {
	color: #FF00FF;
}